@mixin size($width,$height)
    width: $width
    height: $height

.container
    display: flex
    width: 100vw
    height: 100vh
    background-color: black
    justify-content: space-around
    flex-direction: column
    flex-wrap: wrap

    .first
        @include size(28vw,42.5vh)
        background-color: yellow
    .second
        @include size(28vw, 21vh)
        background-color: white
    .third
        @include size(28vw,21vh)
        background-color: blue
    .fourth
        @include size(84vw,78vh)
        background-color: red
    .fifth
        @include size(50vw,21vh )
        background-color: white
    .sixth
        @include size(25px,21vh)
        background-color: white
